/* Responsive for tablet or medium devices */
@media screen and (min-width:576px) and (max-width:960px) {
    .nav-container{
        flex-direction: column;
    }
    .nav-content, 
    .nav-titlebar{
        width: 100%;
        justify-content: center;
    }
    .nav-content{
        gap: 50px;
    }
    .banner-container{
        flex-direction: column-reverse;
        margin-top: 78px;
    }
    .banner-content, 
    .banner-photo{
        width: 80%;
    }
    .banner-content{
        text-align: center;
        padding: 0;
    }
}

/* Responsive for mobile devices */
@media screen and (max-width:576px) {
    .nav-container, 
    .nav-content{
        flex-direction: column;
    }
    .nav-content, 
    .nav-titlebar{
        width: 100%;
        justify-content: center;
    }
    .nav-content{
        gap: 30px;
    }
    .banner-container{
        flex-direction: column-reverse;
        margin-top: 178px;
        gap: 30px;
    }
    .banner-content{
        width: 100%;
        padding: 0 20px;
        text-align: center;
    }
    .banner-content h2{
        font-size: 28px;
    }
    .banner-content h1{
        font-size: 60px;
    }
    .primary-btn{
        padding: 15px 20px;
    }
    .banner-photo{
        width: 80%;
    }

}