/* Responsive for tablet or medium devices */
@media screen and (min-width:576px) and (max-width:960px){
    .nav-container, 
    .gamer-container, 
    .career-container{
        flex-direction: column;
    }
    .nav-content, 
    .nav-titlebar{
        width: 100%;
        justify-content: center;
    }
    .nav-content{
        gap: 50px;
    }
    .banner-container{
        flex-direction: column-reverse;
        margin-top: 78px;
    }
    .gamer-container{
        margin-bottom: 50px;
        padding: 0;
    }
    .banner-content, 
    .banner-photo, 
    .gamer-content{
        width: 80%;
    }
    .banner-content{
        text-align: center;
        padding: 0;
    }
    .gamer-photo{
        width: 100%;
    }
    .gamer-content{
        text-align: center;
    }
    .card-container{
       grid-template-columns: repeat(2,1fr);
       gap: 0; 
    }
    .online-game-container p{
        font-size: 12px;
        text-align: center;
    }
    .card-container{
        gap: 20px;
    }

    .play-instantly-container{
        flex-direction: column;
        gap: 40px;
        margin-top: 30px;
        margin-bottom: 30px;
    }
    .play-instantly-content{
        width: 80%;
        text-align: center;
    }
    .play-instantly-photos, 
    .play-games-photos{
        width: 60%;
    }
    .photo-2, 
    .photo-2-2{
        width: 50%;
    }
    .play-games-container{
        flex-direction: column-reverse;
        gap: 40px;
        margin-top: 90px;
        margin-bottom: 30px;
    }
    .career-container{
        margin: 100px 0;
        padding: 50px;
    }
    .career-content, 
    .career-photo{
        width: 100%;
    }
    .career-content{
        margin-bottom: 30px;
    }
    .responsive-btn{
        font-size: 18px;
        font-weight: 500;
        padding: 15px 25px;
        margin-bottom: 5px;
        margin-top: 10px;
    }  
}

/* Responsive for mobile devices */
@media screen and (max-width:576px){
    .nav-container, 
    .nav-content, 
    .gamer-container, 
    .career-container{
        flex-direction: column;
    }
    .nav-content, 
    .nav-titlebar{
        width: 100%;
        justify-content: center;
    }
    .nav-content{
        gap: 30px;
    }
    .banner-container{
        flex-direction: column-reverse;
        margin-top: 178px;
        gap: 30px;
    }
    .banner-content{
        width: 100%;
        padding: 0 20px;
        text-align: center;
    }
    .banner-content h2{
        font-size: 20px;
    }
    .banner-content h1{
        font-size: 40px;
    }
    .banner-content p{
        font-size: 12px;
    }
    .primary-btn{
        padding: 15px 20px;
    }
    .banner-photo{
        width: 80%;
    }
    .gamer-container{
        margin-bottom: 50px;
        padding: 0;
    }
    .gamer-photo{
        width: 100%;
        margin-top: 30px;
    }
    .gamer-content{
        width: 70%;
        text-align: center;
    }
    .gamer-content h3{
        font-size: 24px;
        margin-bottom: 0;
    }
    .gamer-content p{
        font-size: 12px;
        margin-bottom: 10px;
    }
    .gamer-content h4{
        font-size: 14px;
        margin-top: 0px;
    }
    .gamer-p-2{
        margin-top: 5px;
    }
    .card-container{
        grid-template-columns: 1fr
    }
    .online-game-container h3{
        font-size: 24px;
    }
    .online-game-container p{
        font-size: 12px;
        text-align: center;
    }

    .play-instantly-container{
        flex-direction: column;
        gap: 40px;
        margin-top: 30px;
        margin-bottom: 30px;
    }
    .play-instantly-content{
        width: 80%;
        text-align: center;
    }
    .play-instantly-content h3, 
    .play-games-content-h3{
        font-size: 28px;
    }
    .play-instantly-content p, 
    .play-games-content-p{
        font-size: 16px;
    }
    .play-instantly-photos, 
    .play-games-photos{
        width: 60%;
    }
    .photo-2, .photo-2-2{
        width: 50%;
    }

    .play-games-container{
        flex-direction: column-reverse;
        gap: 40px;
        margin-top: 70px;
        margin-bottom: 30px;
    }

    .career-container{
        margin: 70px 0;
        padding: 50px 20px;
    }
    .career-content h3{
        font-size: 28px;
    }
    .career-content p{
        font-size: 12px;
    }
    .career-content-pera{
        font-size: 16px;
    }
    .career-content, 
    .career-photo{
        width: 100%;
    }
    .career-content{
        margin-bottom: 30px;
    }
    .responsive-btn{
        font-size: 12px;
        font-weight: 400;
        padding: 11px 20px;
        margin-bottom: 5px;
        margin-top: 10px;
    }

    .varies-games-container{
        justify-content: flex-start;
        
    }
}