/* Responsive for tablet or medium devices */
@media screen and (min-width:576px) and (max-width:960px) {
    .nav-container{
        flex-direction: column;
    }
    .nav-content, 
    .nav-titlebar{
        width: 100%;
        justify-content: center;
    }
    .nav-content{
        gap: 50px;
    }
}

/* Responsive for mobile devices */
@media screen and (max-width:576px) {
    .nav-container, 
    .nav-content{
        flex-direction: column;
    }
    .nav-content, 
    .nav-titlebar{
        width: 100%;
        justify-content: center;
    }
    .nav-content{
        gap: 30px;
    }
}